 
.bannerContainer {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('../media/Rentcarbanner.png') no-repeat;
    background-position: center;
    background-size: cover;
}


